<div class="mb-3">
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Hadi Bir Ürün Arıyalım"
  />
</div>
<div class="row mt-3">
  <div
    class="col-md-3 col-sm-6"
    *ngFor="let product of products | filter : filterText"
  >
    <div class="product-grid mt-3 ">
      <div class="product-image">
        <a class="image">
          <img
            class="pic-1"
            src="{{getProductImageById(product.productId)}}"
          />
        </a>
        <ul class="product-links">
          <li>
            <a data-tip="İstek Listesine Ekle" (click)="addFavorite(product.productId)"
              ><i class="bi bi-heart-fill"></i
            ></a>
          </li>
          <li>
            <a data-tip="İncele" routerLink="/products/{{product.productId}}"><i class="bi bi-search" ></i></a>
          </li>
        </ul>
      </div>
      <div class="product-content">
        <h3 class="title">
          <a>{{ product.productName }}</a>
        </h3>
        <div class="price">{{ product.price | currency : "TRY" : "₺" }}</div>
        <a class="add-to-cart" (click)="addToCart(product.productId)">Sepete Ekle</a>
      </div>
    </div>
  </div>
</div>

