<div class="mb-3">
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Hadi Bir Ürün Arıyalım"
  />
</div>
<div class="row gap-4 ms-1">
  <div *ngFor="let product of products |filter: filterText" class="card" style="width: 18rem; height: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.productName}}</h5>
      <p class="card-text ">{{product.description}}</p>
      <a class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
