<body class="d-flex align-items-center py-4 bg-body-tertiary">
  <main class="form-signin w-100 m-auto">
    <form [formGroup]="signUpIndividualForm">
      <h1 class="h3 mb-3 fw-normal">Hesap Oluştur</h1>
  
      <div class="form-floating">
        <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email Adresi</label>
      </div>
      <div class="form-floating mt-2">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Şifre">
        <label for="floatingPassword">Şifre</label>
      </div>
      <div class="form-floating mt-2">
        <input formControlName="name" type="name" class="form-control" id="name" placeholder="Şifre">
        <label for="floatingPassword">İsim</label>
      </div>
      <div class="form-floating mt-2">
        <input formControlName="surname" type="name" class="form-control" id="surname" placeholder="Şifre">
        <label for="floatingPassword">Soyisim</label>
      </div>
      <div class="form-floating mt-2">
        <input formControlName="phoneNumber" type="tel" class="form-control" id="phoneNumber" placeholder="Şifre">
        <label for="floatingPassword">Telefon Numarası</label>
      </div>
      <div class="form-floating mt-2">
        <input formControlName="nationalityId" type="" class="form-control" id="nationalityId" placeholder="Şifre">
        <label for="floatingPassword">TC Kimlik No</label>
      </div>
      <button class="btn btn-primary w-100 py-2 mt-2" type="submit" (click)="registerIndividual()">Kayıt Ol</button>
      <p class="mt-5 mb-3 text-body-secondary">&copy; 2023–2024</p>
    </form>
  </main>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  
      </body>
  