<section class="h-100" style="background-color: #eee">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Siparişlerim</h3>
          </div>
  
          <!-- <div class="text-end mb-4">
              <h3 class="fw-normal mb-0 text-black">Toplam Tutar: {{totalAmount | currency:"TRY":"₺"}}</h3>
            </div> -->
  
          <div class="card rounded-3 mb-4" *ngFor="let item of orders">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                    src="{{ getProductImageById(item.product.productId) }}"
                    class="img-fluid rounded-3"
                  />
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2">
                    {{ item.product.productName }}
                  </p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                  <h5>{{ item.quantity }}</h5>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="mb-0">
                    Toplam Fiyat:{{
                      item.product.price * item.quantity | currency : "TRY" : "₺"
                    }}
                  </h5>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <div class="dropdown">
                    <button
                      type="button"
                      class="btn dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      data-bs-auto-close="outside"
                    >
                      Adres
                    </button>
                    <ul class="dropdown-menu">
                        <div class="card" style="width: 18rem; height: 28rem">
                          <div class="card-body">
                            <h5 class="card-title">Şehir</h5>
                            <p class="card-text">{{ item.address.city }}</p>
                            <h5 class="card-title">İlçe</h5>
                            <p class="card-text">{{ item.address.district }}</p>
                            <h5 class="card-title">Mahalle</h5>
                            <p class="card-text">
                              {{ item.address.neighboorhood }}
                            </p>
                            <h5 class="card-title">Sokak</h5>
                            <p class="card-text">{{ item.address.street }}</p>
                            <h5 class="card-title">Apartman</h5>
                            <p class="card-text">{{ item.address.apartment }}</p>
                          </div>
                        </div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
