<div class="col-lg-12 mt-3">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">İsim Soyisim</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{userFullName}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{userInfo.email}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Telefon Numarası</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{userInfo.phoneNumber}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Hesap Durumu</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{accountStatus}}</p>
          </div>
        </div>
        </div>
      </div>
    </div>
